.search-elements{
  position: absolute;
  padding:4px;
  width: 100%;
  max-height: 100%;
  height: auto;

  &:first-child { border-color: transparent; };
}

.form-group {
    margin:0;
    padding:20px ;

    &:first-child {
      border-color: transparent;
      background-color: var(--mainWhite);
     }
}
